<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Pop3Server" value=""/>
    <add key="SmtpServer" value=""/>
    <add key="EmailName" value="Themis Test App"/>
    <add key="EmailAddress" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="SmtpRequiresAuthentication" value="false"/>
  </appSettings>
  
</configuration>
